body {
    font-family: "Libertinus Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 100%,
  'GRAD' 0,
  'opsz' 24,
}

#title-type {
    color: blue;
    font-size: 24px;
    background-color: lightskyblue;
    border-radius: 5px;
}